:root {
    --primary-color: #00FF41;
    --secondary-color: #0F111A;
    --gray-light: #E0E0E0;
    --light-grey: #B0B3B8;
    --gapping: 30px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-size: 5.5rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4.5rem;
}

h4 {
    font-size: 4rem;
}

h5 {
    font-size: 3.5rem;
}

h6 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gapping);
}

.main-bg {
    background-image: url(../img/Circuit\ Board.svg);
    background-size: cover;
    background-position: center center;
    color: var(--gray-light);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 65px;
}

.menu {
    background: var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 2px solid var(--primary-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--light-grey);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--primary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.intro-content {
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gapping);
    height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.intro-img img, .intro-img svg {
    max-width: 100%;
    height: auto;
}