:root {
    --primary-color: #00FF41;
    --secondary-color: ;
    --gray-light: #E0E0E0;
    --gapping: 30px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-size: 5.5rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4.5rem;
}

h4 {
    font-size: 4rem;
}

h5 {
    font-size: 3.5rem;
}

h6 {
    font-size: 3rem;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gapping);
}

.main-bg {
    background-image: url(../img/Circuit\ Board.svg);
    background-size: cover;
    background-position: center center;
    color: var(--gray-light);
}

.section {
    min-height: 100vh;
}